html{
    padding-top: 40px;
}
h1{
    text-align: center;
}

p{
    margin-right: auto;
    margin-left: auto;
    width: 40vw;
    
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;  
    height: auto;
    width: auto;
}

div{
    display: flex;
    justify-content: center;
    
}

input [type=button]{
    background-color: orange;
    border: none;
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    margin: 20px 20px;
    width: 5rem;
    cursor: pointer;

}

.backBtn{
    width: 40%;
	padding: 10px 20px;
    margin: 10px 10px;
    display: inline-block;
	border: 2px solid #ccc;
    box-sizing: border-box;;
}

body{
    	
    background-color: #F7E7CE;
}
