html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(55,154,218);
}

nav {
	text-align: center;
	/* align-content: center; */
	max-width: 100%;
	background-color: white;
	padding: none;
}

nav li:hover {
	background-color: rgb(231,234,237);
}

ul {
	padding: 3px;
	margin-top: 0;
	width: 100%;
}

li { 
	list-style:none;
	display: inline-block;
	width: 24%;
	text-align: center;
	border-left: 1px solid rgb(231,234,237);
}

a{
	text-decoration: none;
}

#modeDiv{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;

	/* text-align: center; */
}

#modeDiv button{
	background-color: red;
	width: 7em;
	height: 3em;
	border-radius: 0.5em;
	font-size: 1em;
	margin-top: 1em;
	/* width: 130px;
	height: 30px; */
	
}

#modeDiv button:hover{
	background-color: orange;
}

#asideLeft{
	box-shadow: 0 6px 0 rgba(255,255,255,0.2) inset;
	background-color: red;
}

#timer{
	color: red;
}

#container{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

#centerGridDiv{
	order: 2;
	flex-grow: 1;
}

#asideLeft{
	order: 1;
	flex-grow: 0;
	border: 1px solid grey;
	background-color: rgb(231,234,237);
}

#gridSettings{
	order: 3;
	flex-grow: 0;
	border: 1px solid grey;
	background-color: rgb(231,234,237);
}

h1{
	text-align: center;
}

#changeGridDiv{
	font-size: 0.25em;
}

#letsPlay{
	text-align: center;
}

div{
	text-align: center;
}

/* #normalMode{
	background-color: rgb(18, 214, 18);
	height: 50px;
	width: 100px;
	font-size: 2em;
	border-radius: 10%;
	text-align: center;
} */

#startGame:hover{
	background-color: rgb(19, 177, 19);
}

#gridOptionDiv{
	font-size: 0.5em;
}

button{
	outline: none;
}

#btn7, #btn13{
	background-color: aqua;
	height: 25px;
	width: 50px;
	font-size: 15px;
	border-radius: 10%;
	margin: auto;
}

#btn7:hover, #btn13:hover{
	background-color: rgb(23, 190, 190);
}

#btn7{
	margin-right: 3px;
}

#btn13{
	margin-left: 3px;
}

/* .cell:hover {
	background-color: silver;
	cursor: default;
}  */

/* td:hover {
	background-color: silver;
	cursor: default;
} */

table{
	background-color: white;
	margin: auto;
}

#thc0{
	font-size: 0;
}

.thcr{
	-webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
	transform: rotate(90deg);
	word-break: break-all;

	/* word-wrap: break-word; */
	/* height: auto; */
	/* white-space: nowrap */

}
/* .thc{ */
	/* transform-origin: left top 0; */
	/* writing-mode: vertical-lr; */

	/* writing-mode:tb-rl; */
	/* filter: flipv fliph; */
	/* display: inline-block; */
	/* -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
	transform: rotate(90deg);
	max-width:100%;
	white-space:nowrap; */

	/* word-wrap: break-word; */
/* } */

.thr{
	white-space: nowrap

}

th{
	height: 2em;
	width: 2em;
	/* background-color: transparent; */
}

/* table th:nth-child(odd){
	border-top: 1px solid black;
	border-bottom: 1px solid black;
} */

.cell{
	height: 2em;
	width: 2em;
}