html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(55,154,218);
}
header{
	width: 100%;

}
nav {
	text-align: center;
	/* align-content: center; */
	/* max-width: 100%; */
	background-color: white;
	padding: none;
}

nav li:hover {
	background-color: rgb(231,234,237);
}

ul {
	padding: 3px;
	margin-top: 0;
	width: 100%;
}

li { 
	list-style:none;
	display: inline-block;
	width: 24%;
	text-align: center;
	border-left: 1px solid rgb(231,234,237);
	padding: 2vh;
}
li.lastItem{
	border-right: 1px solid rgb(231,234,237);
}

a{
	text-decoration: none;
}

#modeDiv{
	display: flex;
	flex-direction: column;
	align-items: center;

	/* text-align: center; */
}

#modeDiv button{
	background-color: red;
	width: 7em;
	height: 3em;
	border-radius: 0.5em;
	font-size: 1em;
	margin-top: 1em;
	/* width: 130px;
	height: 30px; */
	
}

#modeDiv button:hover{
	background-color: orange;
}


#container{
	display: flex;
}

#centerGridDiv{
	order: 2;
	flex-grow: 2;
	/* display: flex; */
	/* flex-direction: row; */
}

#asideLeft{
	order: 1;
	flex-grow: 0;
	border: 1px solid black;
	background-color: rgb(231,234,237);
	padding: 20px;
}

#gridSettings{
	order: 3;
	flex-grow: 0;
	border: 1px solid black;
	background-color: rgb(231,234,237);
	padding: 20px;
}

h1{
	text-align: center;
}

#changeGridDiv{
	font-size: 0.25em;
}

#letsPlay{
	text-align: center;
}

div{
	text-align: center;
}

/* #normalMode{
	background-color: rgb(18, 214, 18);
	height: 50px;
	width: 100px;
	font-size: 2em;
	border-radius: 10%;
	text-align: center;
} */

#startGame:hover{
	background-color: rgb(19, 177, 19);
}

#gridOptionDiv{
	font-size: 0.5em;
}

button{
	outline: none;
}

#btn7, #btn13{
	background-color: aqua;
	height: 25px;
	width: 50px;
	font-size: 15px;
	border-radius: 10%;
	margin: auto;
}

#btn7:hover, #btn13:hover{
	background-color: rgb(23, 190, 190);
}

#btn7{
	margin-right: 3px;
}

#btn13{
	margin-left: 3px;
}

/* tr:hover {
	background-color: aqua;
} */

td:hover {
	background-color: silver;
	cursor: default;
}

table{
	background-color: white;
	margin: auto;
}

/* #gridSettings{
	float: left;
} */