html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
}

nav {
	text-align: center;
	max-width: 100%;
	background-color: white;
	padding: none;
}

nav li:hover {
	background-color: rgb(231,234,237);
}

ul {
	padding: 3px;
	margin-top: 0;
	width: 100%;
}

li { 
	list-style:none;
	display: inline-block;
	width: 24%;
	text-align: center;
	border-left: 1px solid rgb(231,234,237);
}

a{
	text-decoration: none;
}

/* ---------------------------------------------------------------  */
/* -----------------Login/Register/Logout box----------------------------  */
/* ---------------------------------------------------------------  */
.register{
	padding-top: 5%;
}
input[type=text], input[type=password], input[type=email] {
	width: 80%;
	padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#fileup,
#uploadBtn,
#logoutBtn{
	width: 80%;
	padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
	border: 1px solid #ccc;
	
    box-sizing: border-box;
}

#login, #signUp{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
	margin: 10px 0px;
    border: none;
    cursor: pointer;
    width: 80%;
}

#modal, 
#register-modal, 
#user-modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modal-container, 
#reg-modal-container, 
#user-container{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
	width: 30%; 
	padding-bottom: 70px;
}

.close {
    /* position: absolute; */
	color: #000;
    font-size: 35px;
	font-weight: bold;
	/* text-align: center; */
    margin:0;
	position: relative;
	left: 14vw;
	top: 0;
}
.close:hover, .close:focus {
    color: red;
	cursor: pointer;
}

label{
	display: flex;
	padding-left: 10%;
	font-weight: bold;
	/* padding: 20%; */
}
/* -------------------------------- */

#gameTitle{
	font-family: 'Acme', sans-serif;
}


#modeDiv{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#modeDiv button{
	width: 7em;
	height: 3em;
	border-radius: 0.5em;
	font-size: 1em;
	margin-top: 1em;
}

#normalMode{
	background-color:rgb(80,173,85);

}

#normalMode:hover{
	background-color:rgb(61, 148, 66);
}

#arcadeMode{
	background-color:rgb(43,152,240);

}

#arcadeMode:hover{
	background-color:rgb(24, 118, 196);
}

#timeAttackMode{
	background-color:rgb(241,69,61);

}

#timeAttackMode:hover{
	background-color:rgb(204, 39, 31);
}

#asideLeft{
	box-shadow: 0 6px 0 rgba(255,255,255,0.2) inset;
	background-color: red;
}

.asideLeftBtn{
	background-color: rgb(86,192,248);
	width: auto;
	height: auto;
	border-radius: 0.5em;
	font-size: auto;
	margin-top: 1em;
}

.asideLeftBtn:hover{
	background-color: rgb(57,124,241);
}

#timer{
	color: red;
}

#container{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	padding-bottom: 200px;
}

#centerGridDiv{
	order: 2;
	flex-grow: 1;
}

#asideLeft{
	order: 1;
	flex-grow: .125;
	border: 1px solid grey;
	color: white;
	background-color: rgb(78, 23, 151);
}

#gridSettings{
	order: 3;
	flex-grow: .125;
	border: 1px solid grey;
	color: white;
	background-color: rgb(78, 23, 151);
}

#buttonDiv{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

#mainMenuBtn{
	order: 1;
}

#bestMove{
	order: 2;
}

#worstMove{
	order: 3;
}

#done{
	order: 4;
}

h1{
	text-align: center;
}

#changeGridDiv{
	font-size: 0.25em;
}

#letsPlay{
	text-align: center;
}

div{
	text-align: center;
}

#startGame:hover{
	background-color: rgb(19, 177, 19);
}

#gridOptionDiv{
	font-size: 0.5em;
}

button{
	outline: none;
}

#btn7, #btn13{
	background-color: rgb(32, 223, 223);
	width: 7em;
	height: 3em;
	border-radius: 0.5em;
	font-size: 1em;
	margin-top: 1em;
}

#btn7:hover, #btn13:hover{
	background-color: rgb(23, 190, 190);
}

#btn7{
	margin-right: 3px;
}

#btn13{
	margin-left: 3px;
}

table{
	background-color: white;
	margin: auto;
}

#thc0{
	font-size: 0;
}

th{
	background-color: white;
}

.thr{
	white-space: nowrap
}

th{
	height: 2em;
	width: 2em;
}

.cell{
	height: 2em;
	width: 2em;
}

footer {
	position: fixed;
	height: 100px; 
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:rgb(73, 49, 105);
	color: white;
	text-align: center;
 }