
body{
    background-color:  #f7e7ce;
}
.header{
    font-size:50px;
    font-family: Cambria;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    display:flex;
    justify-content: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 100px;
}

ul{
    list-style-type: none;
}

li{
    padding:10px;
}
